/* <!-- google font start --> */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300;500;600&family=Lobster&family=Poppins:ital,wght@0,400;0,500;1,700&family=Roboto&display=swap');

/* utilities and common start */
body {
   
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}


/* top banner start */
.top-banner {
    margin-bottom: 70px;
  
}
.top-contents {
    display: flex;
    width: 1321px;
    border-radius: 30px;
    background-color: darkcyan;
    margin-left: 95px;
    height: 600px;
    margin-top: 100px;    
}

h1{
    font-size: 70px;
    font-weight: 650;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 0px;
}
.top-contents img {
    margin-top: 30px;
    margin-left: 40px;
    width: 500px;
    height: 569px;
    top: 65px;
}
.top-contents details {
    padding-right: 40px;
}
.p-info {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;  
}
.details {
      width: 50%;
      margin-bottom: 20px;
}
.content-info{
    padding-left: 65px;
}


.link-button {
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: 'HelveticaNeue';
    font-weight: 700; 
    line-height: 23px;
    text-align: center;
    color: darkcyan;
    font-size:20px; 
    background-color:#FFFFFF;
    transition: 0.5s all ease;
    top: 0;
    left: 50%;
    right: 50%;
    z-index: 1;
    width: 150px;
    height: 50px;     
}

.link-button:hover {
    background-color: darkturquoise;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 40px;   
      
}
.link-button::before {
    transition: 0.5s all ease;
    top: 0;
    left: 50%;
    right: 50%;
    z-index: 1;
    content: "";
   
}
.link-button:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    z-index: -1;
     
} 


/* match start */
.blogs{
    background-color: darkcyan;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    width: 312px;
    height: 325px;
    border-radius: 10px;
    text-align: center;
  
}

.match-time{
    padding-top: 5px;
     
 }

.match {
    background-color: #FFFFFF;
    margin-left: 32px;
    padding-top: 20px;
    border-radius: 10px;
    width: 245px;
    height: 60px;   

}

.all-group {
    background-color: #FFFFFF;
    margin-left: 32px;
    padding-top: 20px;
    border-radius: 10px;
    width: 245px;
    height: 60px; 


}
.blog {
    background-color:rgb(33, 33, 237);
    margin-left: 32px;
    padding-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
    border: none;
    width: 245px;
    height: 60px; 

}